# Variáveis para produção (EasyPanel / VPS)
PORT=80
NODE_ENV=production
JWT_SECRET=troque-por-um-segredo-longo-e-aleatorio
FRONTEND_URL=https://petshop.oppitech.com.br

OPER_PASS_PIRACICABA=skoob123
OPER_PASS_CAMPINAS=skoob1234
OPER_PASS_INDAIATUBA=skoob12345
FIN_USER=controle@skoobpet.com.br
FIN_PASS=skoobdiretoria123

GCP_CLIENT_EMAIL=skoob-dashboard@dashboard-skoob-campinas.iam.gserviceaccount.com
GCP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

SHEET_ID=1TTrjf0DZxWkIacYTp7_vcRmTx2-8XrobIaPgIflnyG8
SHEET_TAB=Folha1
