# Variáveis para produção (EasyPanel / VPS)
PORT=3001
NODE_ENV=production
JWT_SECRET=troque-por-um-segredo-longo-e-aleatorio
FRONTEND_URL=https://petshop.seudominio.com.br

OPER_USER=operacao
OPER_PASS=100316
FIN_USER=financeiro
FIN_PASS=100316

GCP_CLIENT_EMAIL=skoob-dashboard@dashboard-skoob-campinas.iam.gserviceaccount.com
GCP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

SHEET_ID=1TTrjf0DZxWkIacYTp7_vcRmTx2-8XrobIaPgIflnyG8
SHEET_TAB=Folha1
