PORT=3001
JWT_SECRET=troque-por-um-segredo-aleatorio-longo
FRONTEND_URL=http://localhost:5173

OPER_USER=operacao
OPER_PASS=100316
FIN_USER=financeiro
FIN_PASS=100316

GCP_CLIENT_EMAIL=skoob-dashboard@dashboard-skoob-campinas.iam.gserviceaccount.com
GCP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Planilha única: Planilha SkoobPet (Campinas)
SHEET_ID=1TTrjf0DZxWkIacYTp7_vcRmTx2-8XrobIaPgIflnyG8
SHEET_TAB=Folha1
